.heart-container {
   @include center-xy;
   margin-left: 2rem;
   margin-right: 2rem;
    &__border {
        position: absolute;
        font-size: 1.3rem;
        color: $black;
        
    }

    &__filling {
        position: absolute;
        font-size: 1.3rem;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        opacity: 0;
        transition: all 250ms ease;
        
        



        &:hover {
            opacity: 1;
        }

    }

}