//COLORS

$primary-color:#9356DC;
$secondary-color:#FF79DA ;
$tertiary-color:#99E2D0;
$bck-etiquette-clr:#99E2D0;
$etiquette-font-clr:#008766; 
$light-blue:#89C8FA;
$dark-blue:#003A68;
$bck-clr-grey:#EAEAEA;
$bck-clr-light-grey:#F7F7F7;
$icone-clr-dark-grey:#6E6E6E;
$footer-bck-clr:#353535;
$black:black;
$white:white;
$bck-clr-functionning-button-3:#F5EDFF;

//MARGIN/PADDING 
$heading-margin:3.1rem 0 0 1.25rem;
$menu-title-margin:2.6rem;
$menu-tile-text-padding:0.7rem 0 0 0.65rem;


